.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f3f4f6; /* Tailwind's bg-gray-100 */
  }
  
  .logo-container {
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
  }
  
  .logo {
    width: 13.5rem; /* Tailwind's w-54 */
    height: 10.5rem; /* Tailwind's h-42 */
  }
  
  .main-title {
    font-size: 2.25rem; /* Tailwind's text-4xl */
    font-weight: bold;
    color: #1f2937; /* Tailwind's text-gray-800 */
    margin-bottom: 2rem;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  .option-button {
    padding: 0.5rem 1rem;
    font-size: 1.125rem; /* Tailwind's text-lg */
    font-weight: 500;
    color: white;
    background-color: #38b2ac; /* Tailwind's bg-teal-500 */
    border: none;
    border-radius: 0.25rem; /* Tailwind's rounded */
    cursor: pointer;
    transition: background-color 0.25s;
  }
  
  .option-button:hover {
    background-color: #2c7a7b; /* Tailwind's hover:bg-teal-700 */
  }
  
  .auth-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .auth-link {
    font-size: 1.125rem; /* Tailwind's text-lg */
    font-weight: 500;
    color: #38b2ac; /* Tailwind's text-teal-500 */
    text-decoration: none;
  }
  
  .auth-link:hover {
    color: #2c7a7b; /* Tailwind's hover:text-teal-700 */
  }
  